{% extends "auctions/base_subastas.html" %}

{% block content %}

    {% if user.is_authenticated %}

    <div class="container" style="text-align: center; margin-top: 20px;">
        <div class="row justify-content-center">

            <div class="card" style="background-color: aqua;">
                <div class="card-body">
                    <div class="cardstyle" style="width: 50rem; margin:auto">
                        <h1 class="card-title">Nueva subasta</h1>

                        <form method="post" action="{% url 'new_listing' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-lg btn-primary">Publicar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endif %}


    

{% endblock %}